@font-face {
    font-family: 'Roboto Mono';
    src: url('./RobotoMono-Medium.ttf');
}

:root {
    --manpower-color: #294e3e;
    --equipment-color: #2f357f;
    --finance-color: #349348;
    --battleground-color: #935534;
}
/*Globals*/
* {
    background-color: #202020;
    font-family: 'Roboto Mono';
    color: whitesmoke;
}

button {
    border: 2px solid whitesmoke;
    transition-duration: 0.2s;
}

button:hover {
    transition-duration: 0.2s;
    border-color: whitesmoke;
    background-color: whitesmoke;
    color: #202020;
    cursor: pointer;
}

hr {
    border: 1px solid whitesmoke;
}

/*Classes*/

.mainArea {
    margin-top: 1vh;
}

.flexBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.currencyHolder {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    min-width: 3vw; 
}

.unlocked {color: #268135;border-color: #268135;}
.unlocked:hover {color:#202020;background-color: #268135;border-color: #268135;}
.locked {color: #812626;border-color: #812626;}
.locked:hover {color:#202020;background-color: #812626;border-color: #812626;cursor: not-allowed;}

/*IDs*/

#newsHolder {
    border: 2px solid whitesmoke;
    padding: 2px;
    width: 45%;
    overflow:hidden;
    margin:auto;
    text-align: left;
}

#news {
    color:inherit;
    position: relative;
    display:inline-block;
    font-size:15px;
    font-family:inherit;
    white-space: nowrap;
    font-weight: bold;
}

#modalContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6969;
    padding: 5px;
    border: 4px solid #812626;
}

#alert {
    height: 100%;
    display: none;
    align-content: center;
    text-align: center;
}

#delete {color:#812626; border-color: #812626;}
#delete:hover{color: #202020; background-color: #812626;}
#mB {color: var(--manpower-color); border-color: var(--manpower-color);}
#mB:hover {color: #202020; background-color: var(--manpower-color);}
#eB {color: var(--equipment-color); border-color: var(--equipment-color);}
#eB:hover {color: #202020; background-color: var(--equipment-color);}
#fB {color: var(--finance-color); border-color: var(--finance-color);}
#fB:hover {color: #202020; background-color: var(--finance-color);}
#bB {color: var(--battleground-color); border-color: var(--battleground-color);}
#bB:hover {color: #202020; background-color: var(--battleground-color);}

#playerStats {color:#4a53db}
#enemyStats {color:#db4a4a}