@font-face {
    font-family: 'Roboto Mono';
    src: url('./RobotoMono-Medium.ttf');
}

:root {
    --manpower-color: #294e3e;
    --equipment-color: #2f357f;
}
/*Globals*/
* {
    background-color: #202020;
    font-family: 'Roboto Mono';
    color: whitesmoke;
}

button {
    border: 2px solid whitesmoke;
    transition-duration: 0.2s;
}

button:hover {
    transition-duration: 0.2s;
    border-color: whitesmoke;
    background-color: whitesmoke;
    color: #202020;
}


/*Classes*/
.flexBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.currencyHolder {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    min-width: 3vw; 
}

/*IDs*/

#newsHolder {
    border: 2px solid whitesmoke;
    padding: 2px;
    width: 45%;
    overflow:hidden;
    margin:auto;
    text-align: left;
}

#news {
    color:inherit;
    position: relative;
    display:inline-block;
    font-size:15px;
    font-family:inherit;
    white-space: nowrap;
    font-weight: bold;
}

#mB {color: var(--manpower-color); border-color: var(--manpower-color);}
#mB:hover {color: #202020; background-color: var(--manpower-color);}
#eB {color: var(--equipment-color); border-color: var(--equipment-color);}
#eB:hover {color: #202020; background-color: var(--equipment-color);}